@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oleo Script', cursive;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #00e5ff,#A8FFFF);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container{
    height: 470px;
    width: 55%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.container:hover{
    box-shadow:0 7px 24px rgba(0,0,0,.43), 0 5px 5px rgba(0,0,0,.4);
}

h1{
    font-size: 35px;
    margin-top: -10px;
    margin-bottom: 40px;
}

.image{
    width: 11%;
    margin-top: 40px;
    margin-left: 50px;
}

#btn{
    margin-top: auto;
    padding: 12px 0;
    background-color: #EE2D11;
    border-style: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    font-family: 'Oleo Script', cursive;
}

#btn:hover{
    border: 1px solid black;
    box-shadow: 1px 1px 1px rgb(58, 58, 58);
    background-color: rgb(253, 100, 44);
}

#quote{
    font-size: 32px;
    text-align: right;
    margin-right: 60px;
    margin-left: 30px;
    margin-top: 25px;
}

#author{
    text-align: right;
    font-size: 22px;
    margin-right: 25px;
    margin-top: 40px; 
}

@media (max-width : 1100px){

    .container{
        width: 60%;
    }

    #quote{
        font-size: 32px;
    }

    .image{
        margin-left: 40px;
        width: 14%;
    }

    #author{
        font-size: 22px;
        margin-right: 22px;
        margin-top: 30px;
    }

}

@media (max-width : 990px){
    .container{
        width: 70%;
    }

    #quote{
        font-size: 28px;
    }

    .image{
        margin-left: 40px;
        width: 12%;
    }

    #author{
        font-size: 21px;
        margin-right: 22px;
        margin-top: 30px;
    }

    .container{
        height: 450px;
    }

    h1{
        font-size: 32px;
        margin-bottom: 45px;
    }
}

@media (max-width : 800px){

    #quote{
        font-size: 27px;
    }

    .image{
        margin-left: 35px;
        width: 13%;
    }

    #author{
        font-size: 20px;
        margin-right: 22px;
        margin-top: 30px;
    }

    .container{
        height: 450px;
    }

    h1{
        font-size: 30px;
        margin-bottom: 50px;
    }
    
}

@media (max-width : 600px){

    #quote{
        font-size: 25px;
    }

    .image{
        margin-left: 35px;
        width: 15%;
    }

    #author{
        font-size: 19px;
        margin-right: 22px;
        margin-top: 30px;
    }

    .container{
        height: 450px;
    }

    h1{
        font-size: 28px;
        margin-bottom: 45px;
    }
}

@media (max-width : 480px){

    .container{
        height: 450px;
    }
    
    #quote{
        font-size: 23px;
        margin-right: 35px;
        margin-top: 30px;
    }

    h1{
        font-size: 28px;
        margin-bottom: 45px;
    }

    .image{
        margin-left: 35px;
        width: 15%;
    }

    #author{
        font-size: 19px;
        margin-right: 22px;
        margin-top: 27px;
    }

    #btn{
        font-size: 16px;
    }
}